/* /Shared/MainLayout.razor.rz.scp.css */

main > .container[b-sy2l7isrkd] {
    padding: 60px 15px 0;
}

#footer[b-sy2l7isrkd] {
    bottom: 0;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(90deg, #009900 0%, rgb(0, 51, 0) 70%);
}

#footer a[b-sy2l7isrkd] {
    color: white;
}

.github-logo[b-sy2l7isrkd] {
    height: 40px;
    width: 50px;
}
/* /Shared/NavMenu.razor.rz.scp.css */
#icon-madworld[b-y13vmniad5] {
    height: 50px;
}

.menubar[b-y13vmniad5] {
    background-image: linear-gradient(45deg, rgb(0, 51, 0) 0%, #009900 70%);
}

.dropdown-menu-custom[b-y13vmniad5] {
    background-color: #009900;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu[b-y13vmniad5] {
        display: none;
    }

    .navbar .nav-item:hover .nav-link[b-y13vmniad5] {
    }

    .navbar .nav-item:hover .dropdown-menu[b-y13vmniad5] {
        display: block;
    }

    .navbar .nav-item .dropdown-menu[b-y13vmniad5] {
        margin-top: 0;
    }
}	

